{% extends 'books/base.html' %}
{% block title%}Miller Memorial Library{% endblock %}

{% block content %}
<section class="mx-3">
    <h3 class="mt-3 mx-3 mb-5">result</h3>
    <div class="container">
        <div class="row row-cols-1 row-cols-lg-3 row-cols-md-2 g-4">
            {% for book in books %}

            <div class="col-lg-4">
                <div class="card mb-3" style="max-width: 540px;">
                    <div class="row g-0">
                        <div class="col-md-6 col-sm-6 col-5">
                            <img src="{{ book.image.url }}" class="img-fluid rounded-start" alt="...">
                        </div>
                        <div class="col-sm-6 col-lg-6 col-6">
                            <div class="card-body">
                                <h5 class="card-title">{{book.name}}</h5>
                                <p class="card-subtitle text-muted" style="font-size:13px;">by <span class="card-text">{{book.author}}</span></p>
                                <p class="card-text">This is a wider card with supporting text below as a natural</p>
                                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}

        </div>
    </div>
</section>
{% endblock %}